<mat-toolbar class="mat-toolbar" style="background-color:indigo; height: 7%;">
  <div style="color:white">
    SAMUEL-ELALA-CHATAPP
  </div>
  <div *ngIf="auth.logged()">
    <button mat-button style="color:white">
      <mat-icon>messages</mat-icon>
    </button>
    <button mat-button style="color:white">
      <mat-icon>person</mat-icon><sup style="color:red"><mat-icon style="color:red">add</mat-icon>10</sup>
    </button>
    <button mat-button style="color:white">
      <mat-icon>{{ notificationsRoute.icon }}</mat-icon>
    </button>

    <button mat-button (click)="logout()" style="color:white">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div *ngIf="!auth.logged()">
    <button mat-button (click)="logout()" style="color:white">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>