<mat-toolbar class="mat-toolbar" color="primary" style="height: 7%;">
  <div style="color:white">
    CHAT-APP
  </div>
  <div *ngIf="auth.logged()">
    <button mat-button color="warm"><mat-icon>home</mat-icon>
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span></button>
    <button mat-button color="warm"><mat-icon matBadge="2" matBadgeColor="warn">messages</mat-icon>
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span></button>

      <button mat-button (click)="go()" color="warm"><mat-icon matBadge="2" matBadgeColor="warn">person</mat-icon>
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span></button>
        <button mat-button color="warm"><mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
          <span class="cdk-visually-hidden">
            Example with a home icon with overlaid badge showing the number 15
          </span></button>
    <button mat-button (click)="logout()" style="color:white">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div *ngIf="!auth.logged()">
    <button mat-button (click)="logout()" color="white">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>