<app-navbar></app-navbar>
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  "
>
  <div>all this people wants to be your frend</div>
  <div *ngFor="let index of [0, 1, 2, 3, 4, 5]">
    <mat-card style="width: 500px; height: fit-content">
      <mat-card-header>
        <div style="display: flex">
          <img src="https://bit.ly/3Bx9hIt" mat-card-avatar />
          <div>angelina gully</div>
        </div>
        <div style="padding-left: 150px">
          <mat-card-actions>
            <button mat-raised-button color="primary">accept</button>
            <button id="but" mat-raised-button color="warn">reject</button>
          </mat-card-actions>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
